{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Updated{% endblock title %}
{% block main-content %}
<div class="container my-5">
        <div class="alert alert-success" role="alert">
            <b>Dear {{request.user}}</b>, your password has been updated Successfully!
        </div>
            <div class="col-sm-9 offset-sm-1 text-center">
                <div><iframe src="https://c.tenor.com/0EflySmYSuAAAAAi/check-mark-button-joypixels.gif" width='300' height='300' frameborder="0" clsss='giphy-embed' allowfullscreen></iframe></div>
            </div>
</div>
{% endblock main-content %}