{% extends 'app/base.html' %}
{% load static %}
{% block title %}Confirm Reset Password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h4 class='text-center mb-5'><b>Reset your password here</h4><hr>
  <div class="col-sm-9 offset-sm-1 mt-3">
   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    {% for item in form %}
    <div class="form-group">
          {{item.label_tag}} {{item}}
          <small class='text-danger'>{{item.errors|striptags}}</small><br>
    </div>
    {% endfor %}
    <input type="submit" value='Reset Password' class='btn btn-danger mt-2'><br>
    {% if form.non_fields_errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
          <b>{{error}}</b>
    </div>
    {% endfor %}
    {% endif %}
     </div>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}